.bodyDiv {
  height: 100vh;
  color: #070729;
}

div.bodyContainer {
  margin-top: 50px !important;
}

.tabs a {
  color: #110a36;
  font-weight: bold;
  font-size: 20px;
  background-color: #ffe082;
}

.tabs .active {
  background: inherit !important;
}

.auth-content {
  height: 515px !important;
}
