<div class="row">
  <div class="col s12 ">
    <div class="row">
      <div class="card">
        <div class="valign-wrapper #01579b light-blue darken-4">
          <div class="col s12 imgCol">
            <img
              src="https://res.cloudinary.com/djhzlslux/image/upload/v{{receiverData.picVersion}}/{{receiverData.picId}}"
              alt="avatar" class="circle" />
          </div>
          <div class="row">
            <div class="col s10 nameCol">
              <span>{{receiverName}}</span>
              <p class="isOnline" *ngIf="isOnline">Online</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 rowDiv" ngx-auto-scroll lock-y-offset="10" observe-attributes>
    <div class="row">
      <div class="col s12">
        <div class="message-wrapper" *ngFor="let message of messagesArray">
          <div class="left" *ngIf="user.username !== receiverName && user.username != message.senderName">
            <div class="chat-bubble left slide-left">
              <div class="message">{{message.body}}</div>
            </div>
          </div>

          <div class="right" *ngIf="user.username === message.senderName">
            <div class="chat-bubble right slide-right">
              <div class="message">{{message.body}}</div>
            </div>
          </div>

          <div class="cf"></div>
        </div>
        <div class="left" *ngIf="typing">
          <div class="chat-bubble left slide-left">
            <div class="message">{{receiverName}} is typing...</div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="col s12" style="margin: 0px">
    <div class="row">
      <div class="card" style="height: 55px;">
        <div class="inputRow">
          <form (ngSubmit)="SendMessage()">
            <div class="input-field inputField col s10">
              <input placeholder="Type a message. Hit Enter to send" name="message" id="" [(ngModel)]="message"
                (keypress)="IsTyping()" class="materialize-textarea inputBox">
            </div>
            <div class="input-field col s1">
              <button type="button" class="toggle-emoji emojiBtn" (click)="toggleEmojiPicker()">
                <i class="material-icons">mood</i>
                <!-- <emoji-mart title="Pick your emoji…" emoji="point_up"></emoji-mart> -->
              </button>
              <div class="emoji-content-editable" (emojiPickerCaretEmitter)="HandleCurrentCaret($event)"
                (input)="content = $event.target.textContent" [textContent]="content" contenteditable="true"></div>
              <i class="emoji-toggle-button imgBtn" [(emojiPickerIf)]="toggled" [emojiPickerPreserveSelection]="false"
                [emojiPickerDirection]="direction" [emojiPickerAutofocus]="true"
                (emojiPickerSelect)="HandleSelection($event)"></i>
            </div>
            <div class="input-field col s1">
              <button class="suffix btn">Send</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
