<app-toolbar (onlineUsers)="online($event)"></app-toolbar>

<div class="body">
  <div class="container clearfix">
    <div class="people-list" id="people-list">
      <div class="search">
        <input type="text" class="input" placeholder="search" />
        <i class="fa fa-search"></i>
      </div>
      <ul class="list">
        <li class="clearfix">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01.jpg" alt="avatar" />
          <div class="about">
            <div class="name">Vincent Porter</div>
            <div class="status">
              <i class="fa fa-circle online"></i> online
            </div>
          </div>
        </li>

        <li class="clearfix">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_02.jpg" alt="avatar" />
          <div class="about">
            <div class="name">Aiden Chavez</div>
            <div class="status">
              <i class="fa fa-circle offline"></i> left 7 mins ago
            </div>
          </div>
        </li>

        <li class="clearfix">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_03.jpg" alt="avatar" />
          <div class="about">
            <div class="name">Mike Thomas</div>
            <div class="status">
              <i class="fa fa-circle online"></i> online
            </div>
          </div>
        </li>

        <li class="clearfix">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_04.jpg" alt="avatar" />
          <div class="about">
            <div class="name">Erica Hughes</div>
            <div class="status">
              <i class="fa fa-circle online"></i> online
            </div>
          </div>
        </li>

        <li class="clearfix">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_05.jpg" alt="avatar" />
          <div class="about">
            <div class="name">Ginger Johnston</div>
            <div class="status">
              <i class="fa fa-circle online"></i> online
            </div>
          </div>
        </li>

        <li class="clearfix">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_06.jpg" alt="avatar" />
          <div class="about">
            <div class="name">Tracy Carpenter</div>
            <div class="status">
              <i class="fa fa-circle offline"></i> left 30 mins ago
            </div>
          </div>
        </li>

        <li class="clearfix">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_07.jpg" alt="avatar" />
          <div class="about">
            <div class="name">Christian Kelly</div>
            <div class="status">
              <i class="fa fa-circle offline"></i> left 10 hours ago
            </div>
          </div>
        </li>

        <li class="clearfix">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_08.jpg" alt="avatar" />
          <div class="about">
            <div class="name">Monica Ward</div>
            <div class="status">
              <i class="fa fa-circle online"></i> online
            </div>
          </div>
        </li>

        <li class="clearfix">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_09.jpg" alt="avatar" />
          <div class="about">
            <div class="name">Dean Henry</div>
            <div class="status">
              <i class="fa fa-circle offline"></i> offline since Oct 28
            </div>
          </div>
        </li>

        <li class="clearfix">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_10.jpg" alt="avatar" />
          <div class="about">
            <div class="name">Peyton Mckinney</div>
            <div class="status">
              <i class="fa fa-circle online"></i> online
            </div>
          </div>
        </li>
      </ul>
    </div>
    <!-- ------------------------------------------------ -->
    <div class="chat">
      <div class="chat-header clearfix">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01_green.jpg" alt="avatar" />

        <div class="chat-about">
          <div class="chat-with">{{receiverName}}</div>
          <div class="chat-num-messages" *ngIf="isOnline">Online</div>
        </div>
        <i class="fa fa-star"></i>
      </div> <!-- end chat-header -->

      <div class="chat-history" ngx-auto-scroll lock-y-offset="10" observe-attributes>
        <ul id="chatbox" *ngFor="let message of messagesArray;let last = last;">
          <li class="clearfix" *ngIf="user.username === message.senderName">
            <div class="message-data align-right">
              <span class="message-data-time">{{MessageTime(message.createdAt)}}</span> &nbsp; &nbsp;
              <span class="message-data-name">{{message.senderName}}</span>
            </div>
            <div class="message other-message float-right">
              {{message.body}}
            </div>
          </li>
          <div class="message-data align-right" *ngIf="last && message.isRead">
            <span class="message-data-name">Seen</span>
          </div>

          <li *ngIf="user.username !== receiverName && user.username != message.senderName">
            <div class="message-data">
              <span class="message-data-name"><i class="fa fa-circle online" *ngIf="isOnline"></i>
                {{message.senderName}}</span>
              <span class="message-data-time">{{MessageTime(message.createdAt)}}</span>
            </div>
            <div class="message my-message">
              {{message.body}}
            </div>
          </li>


          <!-- <li *ngIf="typing">
            <div class="message my-message">
              {{receiverName}} is typing...
            </div>
          </li> -->
        </ul>
        <!-- typing notification section -->
        <ul *ngIf="typing">
          <!-- <div class="message-data">
            <span class="message-data-name">{{receiverName}} </span>
          </div> -->
          <i class="fa fa-circle online"></i>
          <i class="fa fa-circle online" style="color: #AED2A6"></i>
          <i class="fa fa-circle online" style="color:#DAE9DA"></i>
        </ul>

      </div> <!-- end chat-history -->
      <!-- send message section -->
      <div class="chat-message clearfix">
        <form (ngSubmit)="SendMessage()">
          <textarea name="message-to-send" id="message-to-send" placeholder="Type your message" rows="3"
            [(ngModel)]="message" (keypress)="IsTyping()"></textarea>
          <button><i class="material-icons md-light">send</i></button>
        </form>
        <i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;
        <i class="fa fa-file-image-o"></i>
      </div> <!-- end chat-message -->

    </div> <!-- end chat -->

  </div> <!-- end container -->

</div>
