form {
  background-color: #fff;
}

.formDiv {
  margin: 0px 20px 0px 20px;
}

.addImageBtn {
  margin-bottom: 5px;
}

.postBtn {
  margin-bottom: 5px;
}

.title {
  font-weight: bold;
  font-size: 15px;
  color: #0b365a;
}

.time {
  font-size: 10px;
  color: #666565;
}

.postComment {
  font-size: 15px;
}
