.postDiv {
  background-color: #0b365a;
}

form {
  background-color: rgb(255, 255, 255);
}

.formDiv {
  margin: 0px 20px 0px 20px;
}

.addImageBtn {
  margin-bottom: 5px;
}

.postBtn {
  float: right;
  margin-bottom: 5px;
}

.file-field input[type="file"] {
  width: 70% !important;
}
