<div class="navbar-fixed">
  <nav class="nav-extended">
    <div class="container">
      <div class="nav-wrapper navbar-fixed">
        <a (click)="GoToHome()" class="brand-logo">Virtual Station</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li>
            <a class="dropdown-trigger transparent" href="#!" data-target="dropdown2">
              <i class="material-icons">notifications
                <small class="notification-badge" *ngIf="count.length > 0">{{count.length}}</small>
              </i>
            </a>
            <!-- NOTIFICATIONS -->
            <ul id="dropdown2" class="dropdown-content col s12 collection">
              <li class="collection-item avatar" *ngFor="let data of notifications">
                <img src="" class="circle">
                <span [ngClass]="data.read ? 'isRead' : 'unread' ">{{data.message}}
                  <!-- <span *ngIf="!data.read" class="new badge">1</span> -->
                </span>
                <p class="time">{{TimeFromNow(data.created)}}</p>
              </li>
              <li *ngIf="notifications.length <= 0">
                <p class="text">No Notification</p>
              </li>
              <p class="secondary-content">
                <a class="markAll btn" (click)="MarkAll()">Mark All As Read</a>
              </p>
            </ul>
          </li>

          <li>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </li>

          <li>
            <a class="dropdown-trigger3 transparent" href="#!" data-target="dropdown3">
              <i class="material-icons">message
                <small class="notification-badge" *ngIf="messageCount>0">{{messageCount}}</small>
              </i>
            </a>
            <!-- Meaasge Notification -->
            <ul id="dropdown3" class="dropdown-content col s12 collection">
              <li class="collection-item avatar" *ngFor="let chat of chatList"
                (click)="GoToChatPage(chat.receiverId.username)">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_05.jpg" alt="avatar"
                  class="circle" />
                <span class="title">{{chat.receiverId.name}}
                  <a
                    class="secondary-content">{{MessageDate(chat.msgId.message[chat.msgId.message.length-1].createdAt)}}</a>
                </span>
                <p>
                  {{chat.msgId.message[chat.msgId.message.length-1].body}}
                  <a class="secondary-content"
                    *ngIf="!chat.msgId.message[chat.msgId.message.length-1].isRead  && chat.receiverId.username !== chat.msgId.message[chat.msgId.message.length-1].receiverName">
                    <i class="material-icons">brightness_1</i>
                  </a>
                  <a class="secondary-content" *ngIf="chat.msgId.message[chat.msgId.message.length-1].isRead">
                    <i class="material-icons">panorama_fish_eye</i>
                  </a>
                </p>
              </li>
              <li *ngIf="notifications.length <= 0">
                <p class="text">No Notification</p>
              </li>
              <p class="secondary-content" *ngIf="notifications.length > 0">
                <a class="markAll btn" (click)="MarkAllMessages()">Mark All As Read</a>
              </p>
            </ul>
          </li>

          <li>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </li>

          <li>
            <a class='dropdown-button transparent' href='#' data-target="dropdown1"><i
                class="material-icons">account_box</i></a>

            <!-- Dropdown Structure -->
            <ul id="dropdown1" class="dropdown-content col s12 collection">
              <li><a>Profile</a></li>
              <li><a (click)="logout()">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<nav class="nav-extended">
  <div class="nav-content">
    <div class="nav-div">
      <!-- <img class="circle responsive-img" src="http://placehold.it/50x50" /> -->
      <img src="https://cdn.costumewall.com/wp-content/uploads/2018/09/mr-peanutbutter.jpg" alt=""
        class="circle responsive-img" />
    </div>
    <h1 class="profile-name">{{ user.name }}</h1>
    <p class="user-text">testing bio...</p>
  </div>
</nav>

<!-- <div class="toggle">
  <div class="mask">
    <div class="icon-wrap active">
      <div class="icon sun"></div>
    </div>
    <div class="icon-wrap">
      <svg copy="icon" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">
        <path
          d="M187.73 151.4c0-55.24 29.34-104.19 76.27-129.72C242.21 9.81 216.56 3 188.15 3 99.15 3 36.2 70.46 36.2 151.4S98.3 299 187.33 299c28.26 0 53.87-6.82 75.69-18.69-46.48-25.31-75.29-73.8-75.29-128.91z"
          fill="#283445" /></svg>
    </div>
  </div>
  <div class="bar"></div>
</div> -->
